<article class="list-view">
	<table class="twelve">
		<thead class="tableheader whiteheader">
    		<tr>
    			<th class="icon">
    				<input type="checkbox" ng-model="select.all" ng-change="switchAll()"/>
    			</th>
    			<th class="icon" />
    			<th class="content">
					<a translate content="title" ng-click="orderBy('title')"></a>
				</th>
    			<th class="user">
					<a translate content="from" ng-click="orderBy('owner.displayName')"></a>
				</th>
    			<th class="date">
					<a translate content="date" ng-click="orderBy('modified.\$date')"></a>
				</th>
    		</tr>
		</thead>
		<tbody>
    		<tr ng-repeat="${APPNAME.toLowerCase()} in ${APPNAME.toLowerCase()}List.all | filter:filter${APPNAME}:true | orderBy:ordering" ng-class="{ checked: ${APPNAME.toLowerCase()}.selected }">
    			<td class="icon">
					<behaviour name="manager" resource="${APPNAME.toLowerCase()}">
						<input type="checkbox" ng-model="${APPNAME.toLowerCase()}.selected"/>
					</behaviour>
				</td>
    			<td class="icon">
    				<div class="twelve cell">
    					<img class="twelve" skin-src="/img/illustrations/${APPNAME.toLowerCase()}-default.png" ng-if="${APPNAME.toLowerCase()}.thumbnail === undefined || ${APPNAME.toLowerCase()}.thumbnail.trim().length === 0"/>
    					<img class="twelve" ng-src="[[${APPNAME.toLowerCase()}.thumbnail]]?thumbnail=20x20" ng-if="${APPNAME.toLowerCase()}.thumbnail !== undefined && ${APPNAME.toLowerCase()}.thumbnail.trim().length > 0" />
						<i ng-if="${APPNAME.toLowerCase()}.shared !== undefined && ${APPNAME.toLowerCase()}.shared.length > 0 && ${APPNAME.toLowerCase()}List.folder !== 'trash'" class="shared"></i>
					</div>
    			</td>
    			<td class="content">
                    <a ng-click="open${APPNAME}(${APPNAME.toLowerCase()})">
						[[${APPNAME.toLowerCase()}.title]]
					</a>
                </td>
    			<td class="user">
                    <a href="/userbook/annuaire#[[${APPNAME.toLowerCase()}.owner.userId]]">[[${APPNAME.toLowerCase()}.owner.displayName]]</a>
                </td>
    			<td class="date">
                    [[\$root.longDate(${APPNAME.toLowerCase()}.modified.\$date)]]
                </td>
    		</tr>
		</tbody>
	</table>
</article>
